<div class="container-fluid main-heading">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>Full stack &lt;/<span>dev</span>&gt;eloper</h1>
		</div>
	</div>
</div>

<div class="container-fluid this-is-me">

	<div class="row">
		<div class="col-xs-12 text-center">
			<img src="/assets/img/selfies.png" class="selfie">
			<h2>Hello!</h2>
            <p class="header-paragraph">I’m <strong>Staffan Selander</strong>.<br><small><a href="mailto:staffan@selander.mobi" class="email">staffan@selander.mobi</a></small></p>
		</div>
	</div>

    <div class="row">
        <div class="col-md-6">
            <p>A full stack developer of the web and the internet of things!<br>
            Writing code, developing new designs, backend or frontend, at the office or in the shower</p>
            <p>My main focus is webdevelopment. But I also have Cisco diplomas in networking.</p>
        </div>
        <div class="col-md-6">
            <p>
            My strength lies in writing backends preferably with PHP. Also very good with Javascript for the front-end.</p>
            <p>There are many frameworks & languages to mention. It's important to know what tool is the right one for the Job.</p>
        </div>
    </div>

    <div class="header-seperator"></div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <p>I have taken out some of the web technologies I use and I think should be in the spotlight and put them below!<br>
            There are so many technologies, but let's just pick a few!</p>
        </div>
    </div>

    <br><br>

    <div ng-repeat="section in vm.sections">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="section-header">{{ section.title }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-12" ng-bind-html="section.content">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <div class="chart-wrapper" ng-repeat="resource in section.resources">
                    <div class="chart-image-wrapper">
                        <img ng-src="{{'/assets/img/components/skills/' + resource.image}}">
                    </div>
                    <div class="chart-tile-wrapper">
                        <div class="chart-tile">
                            <div class="chart-tile-fillout hold-animation" ng-class="{ 'hold-animation': !resource.showFlow }" when-visible="releaseAnimation" ng-style="{ 'width': resource.percentage + '%' }">
                                <span>
                                    <span value="{{ resource.countFrom }}" count-to="{{resource.countTo}}" duration="2">{{ resource.percentage }}</span>
                                    <span>%</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                <div class="row">
                    <div class="col-xs-12" ng-bind-html="section.content">
                    </div>
                </div>
            </div>

        </div>

        <div class="row" ng-if="$index !== vm.sections.length - 1">
            <div class="col-xs-12">
                <hr class="section-seperator">
            </div>
        </div>

    </div>

</div>
<div class="work-section restaurang-online" parallax-background parallax-ratio="-.8" >
    <div class="work-section-inner-wrapper">
        <div class="container this-is-me">
            <h2 class="text-center">Current work: Restaurang Online</h2>

            <div class="icons-container text-center">
                <a href="http://hungrig.se">
                    <img src="/assets/img/hungrig-logo.png">
                </a>
                <a href="http://restaurangonline.se">
                    <img src="/assets/img/restaurangonline-logo.png">
                </a>
            </div>

            <p><strong>RestaurangOnline</strong> is a IT company with clients/restaurants all over Sweden.<br>
            The company's goal is to setup and manage a food-delivery system for restaurants<br>
            <br>
            My main objective at the company is developing and maintaining the systems for <strong>350+ restaurant</strong>. Which includes food-delivery, giftcards, table-reservations, events, and smartphone applications using all tools necessary. <br>
            <br>
            Behind the scenes im also working close to the other team-members, developing <strong>Hungrig.se</strong>, it's <strong>API</strong> and <strong>RestaurangOnline's CMS</strong>. Meanwhile i'm also responsible for the team's <strong>development environment</strong> with the help of Docker.</p>
        <p><strong>2014 - now</strong></p>
        </div>
    </div>
</div>

<div class="footer">Designed & Developed by <strong>@staffanselander</strong></div>