<div class="experience">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="fullout-container">
				<h2 class="fillouts-heading">Current occupation</h2>
				<div class="fillouts">
					<div class="fillout">
						<a href="http://restaurangonline.se">
							<img src="/assets/img/restaurangonline-logo.png">
						</a>
						<p class="text">RestaurangOnline</p>
					</div>
					<div class="fillout">
						<a href="http://hungrig.se">
							<img src="/assets/img/hungrig-logo.png">
						</a>
						<p class="text">Hungrig.se</p>
					</div>
					<hr>
					<p>
						Hungrig.se is developed by the RestaurangOnline team. RestaurangOnline and Hungrig.se is the solution for food delivery and takeaway. I joined this magnificant team 2014.
					</p>
				</div>
			</div>
		</div>
		<!-- <div class="col-md-6">
			<div class="fillout-container">
				<h2 class="fillouts-heading">Private projects</h2>
				<div class="fillouts">
					<div class="fillout">
						<a href="http://restaurangonline.se">
							<img src="public/img/ratchet-logo.png">
						</a>
						<p class="text">Ratchet<span>Webdesign</span></p>
					</div>
					<hr>
					<p>
						Ratchet is websockets for PHP. I made the coding & design for the website.
					</p>
				</div>
			</div>
		</div> -->
	</div>
</div>