<div class="navigation-wrapper" ng-class="{ 'blob-active': navbar.expandBlob}" data-offset-top="10" bs-affix>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Staffan Selander .li</h1>
				<div class="navigation-blob-wrapper" ng-class="{ 'active': navbar.expandBlob}">
					<div class="navigation-blob" ng-click="navbar.expandBlob = !navbar.expandBlob">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="icons-wrapper" ng-click="navbar.expandBlob = false">
						<a href="home">
							<i class="fa fa-home"></i>
						</a>
						<a href="experience">
							<i class="fa fa-bookmark"></i>
						</a>
						<a href="skills">
							<i class="fa fa-user"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
