.social-container {
    position: fixed;
    left: -20px;
    top: 25%;

    // @media (max-width: $screen-xs-max) {
    //     height: 20px;
    //     width: 100%;
    //     background: $orange;
    // }
    // 
    transform: translate(-50px, 0px);

    transition: transform .3s;

    a {
        margin: 0px 5px 5px 0px;
        box-sizing: initial;
        background: $orange;
        padding-left: 20px;
        max-width: 50px;
        display: block;

        transition: transform .3s;

        > img {
            width: 50px;
        }
    }
}

.social-container {

    &.skills-social {
        transform: translate(0px, 0px);

        a {
            &:hover {
                transform: translate(10px, 0px);
            }
        }
    }
}



.skills-view {
    min-height: calc(100vh - 103px);
    transform: translate(0px, 0px);
    background: #fff;
    width: 100%;
    opacity: 1;

    .main-heading {
        background: #3e4651;

        h1 {
            font-weight: 600;
            padding: 60px 0;
            color: $white;
            margin: 0;

            span {
                color: #f1654c;
            }
        }
    }

    .section-seperator {
        margin: 60px auto 50px auto;
        border-width: 1px;
        max-width: 100%;
        width: 360px;
    }

    .section-header {
        margin-bottom: 60px;
        margin-top: 30px;
    }

    .email {
        position: relative;
        color: $text-color;

        &::after {
            transition: width .3s;
            position: absolute;
            content: "";
            height: 1px;
            opacity: .5;
            bottom: 0;
            width: 0%;
            left: 0;

            background: $text-color;
        }

        &:hover, &:active, &:focus {
            text-decoration: none;
            
            &::after {
                width: 100%;
            }
        }
    }

    .this-is-me {
        position: relative;
        max-width: 860px;
        top: -30px;

        .selfie {
            display: inline-block;
            width: 100px;
        }

        .header-paragraph {
            margin-bottom: 20px;
            margin-top: -5px;
        }

        .header-seperator {
            margin: 50px auto 35px auto;
            background: #eeeeee;
            text-align: center;
            max-width: 400px;
            height: 1px;
            width: 100%;
        }

        p {
            margin-top: 20px;
            font-weight: 300;
            font-size: 16px;
        }
    }
}

.chart-wrapper {
    margin-bottom: 30px;
    position: relative;
    width: 100%;

    .chart-image-wrapper {
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        position: relative;
        height: 80px;
        width: 80px;
        z-index: 10;

        > img {
            height: 80px;
        }
    }

    .chart-tile-wrapper {
        position: absolute;
        display: block;
        height: 37px;
        width: 80%;
        right: 0;
        top: 50%;

        transform: translate(0%, -50%);

        .chart-tile {
            background: #f7f7f7;
            position: absolute;
            border-radius: 4px;
            height: 100%;
            width: 100%;

            .chart-tile-fillout {
                background: #7cda94;
                position: absolute;
                border-radius: 4px;
                height: 100%;
                width: 30%;
                left: 0;
                top: 0;

                transition: width 2s;

                &.hold-animation {
                    width: 0% !important;
                }

                > span {
                    transform: translate(0, -50%);
                    position: absolute;
                    color: $white;
                    right: 10px;
                    font-weight: 700;
                    top: 47%;
                }
            }
        }
    }
}


.work-section {
    margin-top: 50px;

    &.restaurang-online {
        background-image: url('/assets/img/components/skills/restaurangonline.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
    }

    .work-section-inner-wrapper {
        // box-shadow: inset 0px 0px 70px 40px #3e4651;
        background: rgba(#3e4651, .95);

        p, a, strong, h1, h2, h3, h4 {
            color: $white;
        }
    }

    .this-is-me {
        padding-bottom: 80px;
        padding-top: 100px;
        text-align: center;

        @media (max-width: $screen-xs-max) {
            text-align: left;
        }
    }

    .icons-container {

        > a {
            transition: transform .3s;
            display: inline-block;
            max-height: 70px;  
            margin: 40px 20px;

            &:hover {
                transform: scale(1.08) rotate(5deg);
            }

            > img {
                display: inline-block;
                max-height: 70px;
            }
        }
    }

    .timeline {

        .year {
            font-weight: 700;
            font-size: 18px;
        }

        .gap {
            display: inline-block;
            background: #7cda94;
            height: 2px;
            vertical-align: middle;
            width: 40px;
            border-radius: 5px;
            margin: 0 20px;
        }
    }
}

.footer {
    position: absolute;
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
    color: $white;
    width: 100%;
    bottom: 0;
    left: 0;

    strong {
        color: #f1654c;
        font-weight: 700;
    }
}