$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

@import 'variables.scss';
@import 'partials/navbar.scss';

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Source Sans Pro';
}

body {
	background: url('/assets/img/background.jpg');
	background-position: center center;
    background-attachment: fixed;
    background-size: cover;
	overflow-y: scroll;
    line-height: 24px;
    font-size: 14px;
}

.container {
	max-width: 930px;
}

.under-construction {
	background: #F1654C;
    padding: 10px 15px;
	border-radius: 4px;
	font-weight: 700;
    position: fixed;
	z-index: 10000;
    bottom: 20px;
    right: 20px;
    color: #fff;
}

h1, h2, h3, p, strong {
    color: $text-color;
}

h1 {
    line-height: 39px;
    font-weight: 600;
    font-size: 36px;
}

h2 {
    line-height: 35px;
    font-weight: 700;
    font-size: 32px;
}

h3 {
    line-height: 31px;
    font-weight: 700;
    font-size: 28px;
}

p {
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
}

strong {
    font-weight: 600;
}

@import 'animations';

@import 'app/components/home/home';

@import 'app/components/experience/experience.animations';
@import 'app/components/experience/experience';

@import 'app/components/skills/skills.animations';
@import 'app/components/skills/skills';
